node_modules/
dist/
coverage/
build/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE and editor folders
.history/
.vscode/
.idea/
*.sublime-*
.DS_Store

# Cursor specific files
.cursor/
